header {
    background-color: #416462;
    padding: 10px;
  }
  
h1 {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
h2 {
    background-color: #55377c;
    color: #ffffff;
    padding: 10px;
  }
  
h3 {
    background-color: #f2f2f2;
    color: #333333;
    padding: 10px;
  }